body {
  background-color: #eeeeee;
}

.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;

  background-color: #1b244a;
  margin: 0 auto;
  width: 575px;
  height: 385px;
}

.container h3 {
  color: #eeeeee;
}

.home-scoreboard,
.guest-scoreboard {
  width: 155px;
  height: 120px;
  background-color: #080001;
}
.home,
.guest {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 35px;
}

.score-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.score-buttons button {
  padding: 12px;
  border-radius: 5px;
  border: 2px solid #9aabd8;
  background-color: #1b244a;
  color: #9aabd8;
  font-family: 'Cursed Timer ULiL', sans-serif;
  font-size: 15px;
}

.home-score,
.guest-score {
  margin: 5px auto;
  font-family: 'Cursed Timer ULiL', sans-serif;
  font-size: 90px;
  font-weight: 400;
  line-height: 126.67px;
  text-align: center;
  color: #f94f6d;
}
