body {
  background-color: #eeeeee;
}

.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;

  background-color: #1b244a;
  margin: 0 auto;
  width: 575px;
  height: 385px;
}

.container h3 {
  color: #eeeeee;
}
